<div class="wrap-movie" [@.disabled]="_movieService.isPageReload">
  <div [@slideInRight]>
    <app-search-input (search)="handleSearch($event)"></app-search-input>
  
    <div *ngIf="inputTouched && !loading && !movieList.length" class="wrap-not-found">
      <mat-icon>warning</mat-icon>
      <span class="not-found-text">No Video Found</span>
    </div>
    <div *ngIf="loading" class="wrap-loading">
      <mat-spinner></mat-spinner>
    </div>
    
    <app-movie-list *ngIf="!loading" [movieList]="movieList"></app-movie-list>
  </div>

</div>