@import "src/app/shared/scss/themovie";

.wrap-movie-favorited-list {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  @include media-breakpoint('xs') {
    overflow-x: auto;
  }
}